main{
    background-color: plum;
    height: 1000px;
    width: 100%;
    border: 5px solid black;
}
header{
    background-color: blue;
    height: 10%;
    display: flex;
}
.logo{
    background-color: chocolate;
    height: 100%;
    width: 200px;
}
.heading{
    background-color: chartreuse;
    height: 70%;
    width: 800px;
}
.menu{
    background-color: darkmagenta;
    height: 30%;
    width: 800px;
}
section{
    height: 80%;
    background-color: aqua;
}
footer{
    height: 10%;
    background-color: gold;
}